---
import "../styles/global.css";
import { Protected } from "../atomic/molecules/Protected";
import { SignOutButton } from "../atomic/atoms/SignOutButton";
import Layout from "../layouts/Layout.astro";
import { navigate } from "astro/virtual-modules/transitions-router.js";
import { CreateProductButton } from "../atomic/atoms/CreateProductButton";

const data: string | undefined = Astro.locals.user;
const tt = Astro.locals;
//fix
if (!data) console.log("noooooooooo");
if (!data) navigate("/signin");
// (() => {
//   console.log("jiji", { data }, { tt });
// })();

// const onCreateProductForm = () => {
//   navigate("/createProduct");
// };
---

<Layout>
  <main>
    <h1>Inventory</h1>
    <CreateProductButton client:idle />
    <SignOutButton client:idle />
    <Protected client:idle />
  </main>
</Layout>
