---
import { Protected } from "../atomic/molecules/Protected";
import { SignOutButton } from "../atomic/atoms/SignOutButton";
import Layout from "../layouts/Layout.astro";
import { navigate } from "astro/virtual-modules/transitions-router.js";
import { Products } from "../atomic/organisms/Products";

const data = Astro.locals.user;
if (!data) navigate("/signin");
---

<Layout>
  <main>
    <h1>Inventory</h1>
    <SignOutButton client:idle />
    <Protected client:idle />
    <Products client:idle />
  </main>
</Layout>
