---
import { SignUpForm } from "../atomic/pages/SignUpForm";
---

<div
  style="background:olivedrab ; display: flex; flex-direction: column; align-items: center; justify-content: center;"
>
  <h1>Sign Up</h1>
  <SignUpForm client:idle />
</div>
